.idea/*
!.idea/copyright/
*.iml
*.ipr
*.iws
/bin/
/.settings/
/.gradle/
/build/
/run/
/mcef/
/logs/
/.kotlin/

# Svelte theme directory (deprecated - using native GUI)
/src-theme/node_modules/
/src-theme/dist/
/src-theme/.svelte-kit/
